// utils/_mixins.scss

// Flexbox center mixin
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Button style mixin
@mixin button-style {
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

// Card style mixin
@mixin card-style {
  background-color: $white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

// Responsive mixin for min-width breakpoints
@mixin responsive($breakpoint) {
  @if $breakpoint == tablet {
    @media (min-width: $breakpoint-tablet) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (min-width: $breakpoint-desktop) {
      @content;
    }
  }
}

// Responsive mixin for max-width breakpoints
@mixin responsive-max($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: $breakpoint-mobile) {
      @content;
    }
  }
}

// Gradient button mixin
@mixin button-gradient {
  @include button-style;
  color: var(--white);
  background: linear-gradient(to bottom right, var(--secondary-color), var(--primary-color));
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  &:hover {
    opacity: 0.9;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
}