// base/_base.scss

@import "../utils/variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: $dark-grey;
  background-color: $white;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1, h2, h3 {
  font-family: 'Shrikhand', cursive;
}

/* Location */
.location {
    background-color: var(--background-dark);
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
    width: 100%;
}

.location i {
    color: #333;
}