// main style.scss
@import "utils/variables";
@import "utils/mixins";
@import "base/base";
@import "components/buttons";
@import "components/cards";
@import "layout/header";
@import "layout/footer";
@import "pages/home";
@import "pages/restaurant";
@import "utils/animations";