
@import "../utils/mixins";
@import "../utils/variables";

.hero {
  background-color: $background-light;
  text-align: center;
  padding: $gap-large 0;
}

.fonctionnement {
  padding: $gap-large 0;

  &__steps {
    list-style-type: none;
    counter-reset: step-counter;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 20px;
    gap: 20px;

    li {
      background-color: var(--background-light);
      flex: 1;
      margin: 0 10px;
      padding: 1.5rem;
      border-radius: 20px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      position: relative;
      display: flex;
      align-items: center;
      gap: 1rem;

      &::before {
        counter-increment: step-counter;
        content: counter(step-counter);
        background-color: var(--primary-color);
        color: var(--white);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -12px;
        top: 50%;
        transform: translateY(-50%);
      }

      i {
        color: var(--primary-color);
      }
    }
  }
}

.restaurants {
  background-color: $background-light;
  padding: $gap-large 0;

  &__list {
    display: grid;
    gap: 2rem;
  }
}

/* Media Queries */
@media (min-width: 768px) {
  .fonctionnement__steps {
    flex-direction: row;
    justify-content: space-between;
  }

  .fonctionnement__steps li {
    flex: 0 0 30%;
  }

  .restaurants__list {
    grid-template-columns: repeat(2, 1fr);
  }
}